<table class="table">
  <thead>
    <tr>
      <th style="color: #FFFFFF"><b>Lieu</b></th>
      <th style="color: #FFFFFF"><b>Date</b></th>
      <th style="color: #FFFFFF"><b>Créateur</b></th>
      <th style="color: #FFFFFF"><b>Action(s)</b></th>
    </tr>
  </thead>

  <tbody>
    <% @events.current.each do |event| %>
      <tr>
        <td style="color: #FFFFFF"><%= event.place %></td>
        <td style="color: #FFFFFF"><%= event.date.strftime("%d-%b-%Y") %></td>
        <td style="color: #FFFFFF"><%= event.creator.name %></td>
        <% if logged_in? %>
          <td>
            <%= link_to 'Visionner', event, :class=>"btn btn-sm btn-outline", :method=>:get :id=>"voir" %>
          <% if !(event.attendees.include? current_user) %>
            <%= link_to 'Participer',subscribe_path(id: event.id) , :class=>"btn btn-sm btn-outline", :method=>:post %>
          </td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
